html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}


.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar-dark{
  transition:500ms ease;
  background:transparent;
}
.navbar-dark.scrolled{
  background:rgb(71, 71, 71);
}

/*.wadahcarousel{
	width: 100%;
  height: 100%;
}
*/
.wadahcard{
  width: 90%
}

.carousel-caption{
	top: 35%;
}

.padding{
	padding-top: 30px;
	padding-bottom: 30px;
}


.fixedbg{
	background: url(img/bg.png) no-repeat center center;
	width: 100%;
	height: 300px;
  background-attachment: fixed;
}

.sosmed a{
  font-size: 72px;
  padding: 48px;
}

.fa-facebook{
  color: #3b5998;
}

.fa-twitter{
  color: #00aced;
}
.fa-google-plus-g{
  color: #dd4b39;  
}
.fa-instagram{
  color: #517fa4;
}

.fa-youtube{
  color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover{
  color: #d5d5d5;
}

footer{
  background-color: rgb(71,71,71);
  color: #d5d5d5;
  padding-top: 15px;
}


